header{
  background-image: url("../images/banner-bg.jpg");
  border-radius: 0px 0px 170px 170px;
  height: 450px;
}

nav div a{
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}

#contact {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
}

#contact h1{
  align-self: center;
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
}
#contact h6{
  padding-top: 1%;
  align-self: center;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}