header{
  background-image: url("../images/banner-bg.jpg");
  border-radius: 0px 0px 170px 170px;
  height: 450px;
}

nav div a{
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}

#contact {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
}

#contact h1{
  align-self: center;
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
}
#contact h6{
  padding-top: 1%;
  align-self: center;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}

.parent{
  justify-content: center;
  gap:5%;
}

.card {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  background-color: rgb(247,247,247);
  margin-top: 10rem;
  border-radius: 20px;
  width: 40%;
  margin-bottom: 7rem;
}
.card-2 {
  display: flex;
  flex-flow: row wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  background-color: rgb(247,247,247);
  margin-top: 10rem;
  border-radius: 20px;
  width: 50%;
  margin-bottom: 7rem;
}

@media screen and (width <= 768px) {
  .card, .card-2{
    width: 95%;
  }
}

#nobg{
  background-color: white;
  margin-top: 100px;
}

h4 {
  color: orangered;
  font-weight: 600;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem; 
}

p{
  padding-top: 4% ;
}

input{
  height: 50px;
  padding-left: 30px;
  margin-left: 10px;
  margin-top: 5%;
  background-color: rgb(247,247,247);
  border: 1px solid rgb(223, 222, 222);
  outline: none;
  border-radius: 25px;
  width: 41.5%;
}

#message{
  width: 85%;
  height: 50%;
  
  padding-bottom: 20%;
}
footer{
  background-image: url(../images/footer-bg.jpg);
}


.card a{
  color: blue;
  transition: all;
  transition-duration: 100ms;
}

.card a:hover {
  transition: all;
  transition-duration: 100ms;
  color:rgb(150, 4, 255);
}

/* done by elmo san */

.float{
  position: fixed;
  top: 0;
  background-color: rgb(0,113,248);
  width: 99vw;
  z-index: 10;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 100px;
}