header{
  background-image: url("../images/banner-bg.jpg");
  border-radius: 0px 0px 170px 170px;
  height: 450px;
}

nav div a{
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}

#contact {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
}

#contact h1{
  align-self: center;
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
}
#contact h6{
  padding-top: 1%;
  align-self: center;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}

.parent{
  justify-content: center;
  gap:5%;
}

.card {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  background-color: rgb(236, 236, 236);
  margin-top: 10rem;
  border-radius: 20px;
  width: 40%;
  margin-bottom: 7rem;
}

#nobg{
  background-color: white;
  margin-top: 100px;
}

h4 {
  color: orangered;
  font-weight: 600;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem; 
}

p{
  padding-top: 4% ;
}

input{
  height: 50px;
  padding-left: 30px;
  margin-left: 10px;
  margin-top: 5%;
  background-color: rgb(232, 232, 232);
  border-radius: 25px;
  width: 40%;
}

#message{
  width: 80%;
  height: 50%;
  padding-bottom: 20%;
}
footer{
  background-image: url(../images/footer-bg.jpg);
}