header{
  background-image: url("../images/banner-bg.jpg");
  border-radius: 0px 0px 150px 150px;
}
nav div a{
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}
.first {
  color :rgb(255, 255, 255);
  max-width: 50vw;
  word-wrap: break-word;
  /* yabn ellazena shater */
  position:relative; 
  /* lol */
}



.image{
  border-radius: 25px;
  image-rendering: auto ;
}

div h6{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

div h1{
  font-size: 3vw;
  font-weight: 700;
  margin-top: 2%;
}

div p{
 margin-top: 5%;
}

div input{
  position: absolute;
  color:black;
  border-radius: 25px; 
  padding: 10px; 
  margin-top: 10%;
  padding-left: 35px;
  font-size: large;
  width: 70%;
  outline: none;
}

.first button {
  position: absolute;
  background-color: rgb(247, 110, 110);
  border-radius: 25px;
  padding: 10px 30px;
  margin-top: 10%;
  margin-left: 60%;
  font-size: large;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.first button:hover{
  transition-property: all;
  margin-left: 50%;
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
  padding: 10px 60px
}

#shopping-cart{
  position: absolute;
  color: white;
  right: 30px;
  top: 240px;
  padding: 10px 15px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
} 

#Explore{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 3%;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  color:aliceblue;
  font-weight: 500;
}


#topgames {
  background-color: rgb(242, 242, 242);
  opacity: 1;
  margin-left: 0%;
  margin-top: 10%;
  padding-top: 2%;
  padding-bottom: 5%;
  border-radius: 120px;
}

#mostplayed2 {
  margin-left: 5%;
}
#mostplayed3 {
  margin-left: 4%;
  margin-right: 7%;
}

.games-container{
  cursor: pointer;
}

.games-container:hover #Explore{
  background-color: rgb(0,113,248);
}

.games-container:hover #shopping-cart{
  background-color: rgb(0,113,248);
}

.games-container p:nth-child(2){
  transition: all 0.2s ease-in-out;
}

.games-container:hover p:nth-child(2){
  color: rgb(0,113,248);
}