header{
  background-image: url("../images/banner-bg.jpg");
}
nav div a{
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}
.first {
  color :rgb(255, 255, 255);
  padding-top: 12%;
  padding-left: 7%;
  max-width: 50vw;
  word-wrap: break-word;
  position:relative;
}

div h6{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;

}
div h1{
  font-size: 45px;
  font-weight: 700;
  margin-top: 2%;
}
div p{
 margin-top: 5%;
}

div input{
  position: absolute;
  border-radius: 25px; 
  padding: 10px; 
  margin-top: 10%;
  padding-left: 35px;
  font-size: large;
  width: 70%;
}

div button {
  position: absolute;
  background-color: rgb(247, 110, 110);
  border-radius: 25px;
  padding: 10px 30px;
  margin-top: 10%;
  margin-left: 60%;
  font-size: large;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

div button:hover{
  transition-property: all;
  background-color: rgb(117, 117, 255);
  margin-left: 50%;
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
  padding: 10px 60px
}